
.heading h1{
    padding: 30px 30px;
    font-weight: 550;
    color:whitesmoke;
   
}

.fill-box{
  display: flex;
  justify-content: center;
  align-items: center;
}


.fill-box input{
    width: 100%;
    margin:  5% 0% ;
    border: none ;
    border-bottom: 2px solid rgba(207, 207, 210, 0.791);
    padding: 10px 2px 10px 8px;
    background:none;
    font-size: 20px;
    color: whitesmoke;
}

.fill-box :focus{
   
        outline: none;
        border-bottom: 2px solid  #9f43c3;
      
}

.fill-box svg{
  color: whitesmoke;
}

.fill-box svg:hover{
    color: rgb(138, 130, 130);
    
}

  .heading-1{
    flex: 1;
  }
  .btns{
    flex: 2;
  }
  .priority{
    display: flex;
    flex: 1;
    gap:10px;
  }
  
  .heading-1  input{
    width: 22px;
    height: 22px;


  } 

.todo-row {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap row;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient( 90deg, rgb(97 35 221) 0%, rgb(223 75 99) 100% );

}

/* .todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
} */
.complete {
  text-decoration: line-through;
  opacity: 0.7;
}

.flex-button{
  display: flex;
    flex-flow: row  wrap;
    justify-content: space-evenly;
 
}
.button-flex-item{
  width:150px;
  text-align: center;
  height:50px;
  /* font-size: 25px;
  font-weight: bolder !important; */


}
.btns h6,.priority p,.heading-1 .date{
  font-size: 17px;
  letter-spacing: 0.1rem;
}


@media (max-width: 800px) {
  .flex-button {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .todo-row{
    display: block;
    width: 100%;
  }
}

