.edittodo{
  width: 100%;
    margin:  3% 0% ;
    border: none ;
    border-bottom: 2px solid rgba(207, 207, 210, 0.791);
    padding: 10px 2px 10px 8px;
    background:none;
    font-size: 20px;
    color: whitesmoke;
    outline: none !important;
}
.edittodo:focus{
  outline: navy !important;
  border-bottom: 2px solid  #9f43c3;
      

}


.custom-modal .modal-content {
  background-image: url('https://media.diy.com/is/image/Kingfisher/goodhome-nashi-black-glass-effect-glass-splashback-h-800mm-w-900mm-t-5mm~3663602636793_36c?$MOB_PREV$&$width=618&$height=618'); 
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  color: whitesmoke; 
  border: 1px solid whitesmoke;
}
.custom-modal .btn-close {
  background-color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  opacity: 0.9;
   outline: none !important;
  
}
.dropdown-menu{
  background-color: rgba(0, 0, 0, 0.807);
 
}


.dropdown-item {
 
  color: white;
  background: linear-gradient( 90deg, rgb(97 35 221) 0%, rgb(223 75 99) 100% );
  border: 1px solid rgb(16, 16, 234);
  padding: 8px 16px;
}

/* Style the dropdown items when hovered */
.dropdown-item:hover {
  background: linear-gradient(90deg,  rgb(223 75 99) 0%, rgba(93, 12, 255, 1) 100%);
  color: white;
}

.dropdown-items-row {
  display: flex;
  flex-direction: row;
}






.dropdown-item {
  margin-right: 10px; 
}
